
.input {
    display: flex;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 4px 0 4px 16px;
    max-width: 480px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid  #8C9196;
    background-color: transparent;
    transition-property: border-radius, background-color, padding;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    padding: 4px 0 4px 8px;
    background: rgba(149, 152, 152, 0.5);
}
